/*
* Desenvolvido por Marcos Aurelio - 2017 - Versão 1.0.0
*/

/* ========================= layout ======================== */
html, body, .capa
{
	height: 100%;
}

body
{	
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;	
	position: relative;	
}

/* -- Barra de navegação -- */

nav.navbar-transparente
{	
	background: #3A96D8;
	border: none;	
}

.navbar-inverse .navbar-nav>li>a, .nav a
{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .nav a:hover
{
	color: #A7D4F5;
	background: none;

}

.navbar-inverse .navbar-header>a
{
	color: white;
}

.navbar-inverse .navbar-header>a:hover
{
	color: #A7D4F5;
}

.navbar-inverse .navbar-toggle
{	
	border-color: #A7D4F5;	
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus
{
	background-color: #A7D4F5;
}

/* -- Capa-- */
.capa
{	
	display: table; /*A classe capa se comportará como uma tabela. */
	width: 100%;
	background-color: #3A96D8;	
}

.texto-capa
{
	text-align: center;
	color: white;
	display: table-cell; /*A classe texto-capa se comportará como celula de uma tabela  */
	vertical-align: middle; 
}

.conteudo
{	
	padding-top: 50px;
	padding-bottom: 50px;		
}

/* -- Apresentação --*/

.foto
{
	border: 10px solid #3A96D8;
	border-radius: 50%;
}

/* -- portifolio -- */

.portfolio-bg
{
	background-color: #3A96D8;	
}

.portfolio-bg, .contato
{
	padding: 30px 0px 30px 0px;
}

/* -- rodape -- */

footer
{
	background: #3A96D8;
	padding: 10px 0px 10px 0px;
	position: relative;	
}

ul
{
	list-style: none;
	margin-bottom: 0px;
}

.item-rede-social
{
	float: right;	
	padding: 5px;	
}

.item-rede-social>a
{
	color: #A7D4F5;
}

.item-rede-social>a:hover
{
	color: white;
}

#rodape-copyright
{		
	margin-top: 20px;
	color: white		
}

/* -- Botão Topo rodapé -- */
.btn-topo
{	
	margin-left: 50%;
	margin-right: 50%;	
}

.btn-topo>a
{
	color: #A7D4F5;
}

.btn-topo>a:hover
{
	color: white;
}

/* -- Efeito Slie site -- */

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

/* ========================= Tipografia ======================== */
h1
{
	font-size: 80px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;	
}

h2
{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: white;
}

h3
{
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.04em;	
}

h4
{
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

#contato h2
{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: #3A96D8;
}

/*#portfolio p
{
	font-size: 20px;
	color: white;
}*/

#portfolio, #contato h2
{
	text-align: center;	
}

#recursos h3
{
	color: #9bf0e1;
}

#apresentacao p
{
	font-size: 20px;
	color: #3A96D8;
}

#apresentacao h2
{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: #3A96D8;
}